.event-page {
  color: #fff;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  padding: 5vh 0;
  font-family: 'Sofia Sans';
}

.event-page-inner {
  width: 850px;
  /* height: 90vh; */
  margin: 32px auto;
  background-color: var(--theme-color);
  align-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.event-page > img {
  width: 100%;
  height: 40%;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.event-page-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  padding: 16px;
}

.event-page-para-des {
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-page-para-ven {
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
}

.event-page-footer-2 {
  margin-bottom: 24px;
}

.event-page-footer-2 button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 8px;
  padding: 8px 28px;
  font-size: 16px;
  cursor: pointer;
}
