.home {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 5vh 10vw;
}

.home-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
