.home {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 5vh 0;
}

.home-inner {
  width: 850px;
  align-self: center;
}

.home-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
