.navbar {
  background-color: #000;
  height: 80px;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 24px;
}

h1 {
  text-align: left;
  font-family: 'Big Shoulders Inline Display';
  font-size: xxx-large;
}
