.footer {
  background-color: var(--theme-color);
  height: 80px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 25px;
  padding-left: 125px;
  margin-top: 10px;
  bottom: 0;
}

.theme-span {
  margin-right: 4px;
  margin-top: 2px;
}
.theme-button {
  width: 24px;
  height: 24px;
  border-radius: 20%;
  margin-left: 8px;
}
